#placeholder for sp7 specific driver addition
CONFIG_SENSORS_EMC2305=y
CONFIG_ASPEED_LTPI=y
CONFIG_MIPI_I3C_HCI=m
CONFIG_REGMAP_I3C=y
CONFIG_SENSORS_NCT7363=y
CONFIG_SENSORS_MP2856=y
CONFIG_APML_SBRMI=y
CONFIG_APML_SBTSI=y
