[Unit]
Description=Set Power Control GPIO values
Before=multi-host-config.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/power-ctl-gpio.sh

[Install]
WantedBy=sysinit.target
