[Unit]
Description=Set platform initialization values
Before=multi-host-config.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/platform-init.sh

[Install]
WantedBy=sysinit.target
